<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ws="http://jax-ws.dev.java.net/spring/core"
	xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://jax-ws.dev.java.net/spring/core 
       http://jax-ws.java.net/spring/core.xsd
       http://jax-ws.dev.java.net/spring/servlet 
       http://jax-ws.java.net/spring/servlet.xsd">
 
	<!-- <bean id="AccommodationWebService" class="com.jcombat.services.customers.CustomerServiceImpl"> 
	</bean> -->
 
	<bean id="accommodationWebService" class="com.project.web_service.AccommodationWebService">
		 <property name="service" ref="accommodationWebService" />
	</bean>
 
	<wss:binding url="/agent">
		<wss:service>
			<ws:service bean="#accommodationWebService" />
		</wss:service>
	</wss:binding>
 
</beans>