<!-- <div [@fadeIn]>
 <div class="container">
  <div class="jumbotron">
  	<h1 class="display-4">{{ title }}</h1>
      <p class="lead"></p>
      <h4 class="display-6">Accommodations</h4>
      <hr class="my-4">
       <p>lal</p>
       <ul>
       	<li class="nav-item">
	        <a class="nav-link" routerLink="/accommodation" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Search</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" routerLink="/accommodation" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Add new</a>
	      </li>
	  </ul>
    </div>
      
  	<div class="card-header">
		  	<div class="row">
		         <table class="table">
		             <thead class="thead-inverse">
		             <tr>
		                 <th class="text-center">Name</th>
		                 <th class="text-center">Bed type</th>
		                 <th class="text-center">Size(m^2)</th>
		                 <th class="text-center">Number of rooms</th>
		                 <th class="text-center">Number of guests</th>
		                 <th class="text-center">Description</th>
		                 <th class="text-center">Image</th>
		             </tr>
		             </thead>
		             <tbody>
		             <tr *ngFor="let apartment of apartments">
		                 <td class="text-center" style="width: 15px;">{{apartment.name}}</td>
		                 <td class="text-center" style="width: 15px;">{{apartment.bedType}}</td>
		                 <td class="text-center" style="width: 15px;">{{apartment.size}}</td>
		                 <td class="text-center" style="width: 15px;">{{apartment.numOfRooms}}</td>
		                 <td class="text-center" style="width: 15px;">{{apartment.numOfGuests}}</td>
		                 <td class="text-center" style="width: 15px;">{{apartment.description}}</td>
		                 <td class="text-center" style="width: 15px;">{{apartment.image}}</td>
						 <td class="text-center" style="width: 15px;">
							<div>
				                <button class="btn btn-outline-info" type="button">Edit</button>
				            </div>
						 </td>
		             </tr>
		             </tbody>
		         </table>
		     </div>
		</div> 
	</div>
</div> -->

  	<ul id="thumbnailsList">
  	   <li *ngFor="let image of images" >
  	      <img src="{{image.url}}" class="tn"
  		  width="191" height="146">
  	   </li>
  	</ul> 
